
<% content_for :user_info do %>
            <div class="user-avatar">
                <img src="../assets/project-1.jpg" alt=" ">
            </div>
            <div class="info">
                <div class="user-info">
                    <h2><%= current_user.name %> <%= current_user.surname %> </h2>
                    <hr/>
                    <h3><%= current_user.email %></h3>
                </div>
            </div>
<% end %>
            
            <img src="../assets/project-1.jpg" alt=" ">
             <div>
                <span class="st-post-date">October 12, 2016</span>
                <h2><a href="#">How to be an effective web development</a></h2>
                <p>How two simple exercises changed my life</p>
             </div>
            </div>
