<div class="jumbotron">
    <div class="container">
        <h1>Приветствуем!</h1>
        <p>Зарегестрируйся чтобы начать.</p>
        <p>
            <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
            Зарегестрироваться &raquo;
            <% end %>
        </p>
    </div>
</div>