<ol class="microposts">    
    <li>
   <span class="content"><%= @post.post %></span>
   <span class="timestamp">
       Posted <%= time_ago_in_words(@post.created_at) %> ago.
   </span>
   </li>
</ol>