<% content_for :title do%>
    <div class="page-title">
        <span><%= @post.created_at.strftime("%B %d, %Y") %></span>
        <h2><%= @post.title %></h2>
    </div>
<% end %>

<% content_for :post do%>
    <%= @post.post.html_safe %>
<% end %>