@import "bootstrap";
@import "fonts";


$brand-violent: #563d7c;
$brand-black: #000000;
$brand-white: #fff;
$brand-red: #ff6351ff;

/* ===========================================================================
*
*   Mixins
*
*
* ============================================================================ */
@mixin box-shadow-none(){
    box-shadow: none;
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}


/* =======================================================================
*
*
*         Стиль шаблона
*   
*
* ======================================================================= */
body {
  font-family: 'Roboto Condensed';
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url('img_bg.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 0.1;
}

.top-navbar { 
  padding-top: em(45);
}
  
.left-nav ul li {
  display: inline;
  padding: 0 23px;
  a {
    text-decoration: none;
    color: #e3e5e6;
    font-size: em(16);
    transition: .2s ease;
    &:hover, &:active, &:focus{
      color: black;
      border-bottom: 2px black;
    }
  }  
}

a.login-button {
  text-decoration: none;
  color: #0000008e;
  padding: em(10) em(15);
  outline: none;
  border: 1px solid #1de9c3ff;
  border-radius: em(13);
  transition: .5s ease;
  &:hover, &:active, &:focus {
    background: #1de9c3ff;
    color: white;
  }
}

.content-center {
  margin-top: em(130);
  h1 {
    font-size: em(100);
    color: #ffffff;
    font-family: 'Comfortaa';
  }

  .signup {
    padding: 60px 0 0 0;
  }
  a.button-reg {
    font-size: em(20);
    text-decoration: none;
    color: #0fb699ff;
    padding: em(10) em(15);
    outline: none;
    border: 1px solid #1de9c3ff;
    background: #1de9c3ff;
    border-radius: em(13);
    transition: .2s ease;
    &:hover, &:active, &:focus {
      background: #00ffcfff;
    }
  }
  img {
    margin-left: em(-120);
    height: 500px;
    width: auto;
  }
}


