@import "bootstrap";

// header //

.bg-color {
    background-color: #563d7c;
}

li {
    display: list-item;

    .nav-item {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

// форма входа //
.form-control {
    width: 50%;
}

.container-fluid {
    padding-top: 100px;

}


aside {
    section {
        padding: 10px 0;
    }
    span {
        display: block;
        margin-bottom: 3px;
        line-height: 1px;
    }
}