<header>
    <div class="logo">
        <img src="/assets/logo.svg" alt="Блогосфера">
    </div>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <ul>
                        <li><%= link_to  "Главная", root_path %></li>
                        <li><%= link_to  "О нас", "#" %></li>
                        <li><%= link_to  "Контакты", "#" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
