<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <img src="/assets/logo.svg" alt="Facepalm">
                </div>
            </div>
            <div class="col-md-7">
                <ul class="menu">
                    <li class="active"><%= link_to  "Главная", root_path %></li>
                    <li><%= link_to  "О нас", "#" %></li>
                    <li><%= link_to  "Контакты", "#" %></li>
                </ul>
            </div>
            <div class="col-md-2 button-signin">
                <li><%= link_to sign_in_path do%>
                    <span>Войти</span>
                    <% end %>
                </li>
            </div>
        </div>
    </div>
</div>

